@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

/* Footer */

footer {
    height: 70vh;
    margin-top: auto;
    background-color: black;
}

.conteiner-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    height: 70vh;
}

h2 {
    color: rgb(0, 0, 0);
    padding: 10px;
}

/* icons */

.page {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 150px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    text-decoration: none;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    color: #000;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #46dd8a;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #E1306C;
}

.wrapper .button:nth-child(3) span {
    color: #46dd8a;
}

/* Area comentarios */
:root {
    --text-color: #fff;
}

.container-avali {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

.Faca-avaliacao {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    /* tira o espaço que causa altomaticamente  */
    color: #ffffff;
}

.avaliacao {
    color: #fff;
    padding: 10px;
    font-size: calc(1.325rem + .9vw);
}

.app {
    background-color: var(--primary);
    color: var(--text-color);
    display: grid;
    place-items: center;
}

.rating {
    width: 50vw;
    height: 40vh;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.rating__average {
    width: 30%;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.rating__average h1 {
    font-size: 3rem;
}

.rating__average p {
    margin-top: .7rem;
    letter-spacing: .1rem;
}

.rating__progress {
    width: 70%;
}

.rating__progress-value {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.rating__progress-value .star {
    font-size: 1.2rem;
    color: gold;
}

.rating__progress-value p:last-child {
    width: 10%;
}

.rating__progress .progress {
    flex: 1 1 0;
    height: .5rem;
    border-radius: .5rem;
    background-color: #ff02;
}

.bar {
    width: 0;
    height: 100%;
    background-color: gold;
    border-radius: .5rem;
}

/* Estilo para estrelas interativas */
.star-input {
    font-size: 2rem;
    cursor: pointer;
    color: gold;
    margin-top: 0;
    padding-top: 0;
}

.star-input:hover,
.star-input.selected {
    color: darkred;
}



/* header */

.conteiner-header img {
    border-radius: 15px;
}

header {
    background-color: black;
    height: 20vh;
}

.conteiner-header .item2 {
    padding-bottom: 35px;
}


.conteiner-header {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    height: 100%;
}

.conteiner-header i {
    color: black;
    font-size: 20px;
}

.button-login {
    display: inline-block;
    background-color: black;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*Efeito do link*/

nav {
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-family: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-family: 35px;
    font-size: 20px;
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;
}

nav a:hover::after {
    width: 70%;
}

/* Corpo Agendamento */

.corpo-agendamento {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.agendamento {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.agendamento li {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1.5%;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: transform 0.3s, z-index 0s;
}

.agendamento li:hover {
    border-color: #990011;
    transform: translateY(-10px);
    /* Move o item para cima ao passar o mouse */
    z-index: 1;
    /* Garante que o item em destaque fique acima dos outros */
}

.agendamento li:hover h2 {
    font-size: 35px;
}


.agendamento li:active {
    border-color: #339900;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

.agendamento li img {
    width: 10em;
    height: auto;
    margin: 10px 0;
    /* Espaçamento entre a imagem e os textos */
}

.agendamento li:hover h2 {
    font-size: 35px;
}

.agendamento li .agendamento-descricao {
    margin-top: 10px;
    /* Espaço entre a imagem e a descrição */
}

.product-price {
    font-size: 20px;
    font-weight: bold;
}

/* area do mudal Suspenso */
#user-initials {
    display: block;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

/* Estilo do Avatar do Usuário */
.user-avatar {
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    /* Fundo vermelho para o avatar */
    padding: 10px;
    border-radius: 50%;
    /* Deixa o avatar circular */
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;

}

/* Estilo do conteúdo do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #2c2c2c;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;
    min-width: 250px;
    min-height: 400px;
    padding: 15px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

/* Exibir o dropdown ao clicar no avatar */
.user-avatar.active .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Estilo do nome de usuário no dropdown */
.dropdown-content p {
    margin: 0;
    padding: 10px 0;
    font-size: 30px;
    color: #ffcccc;
}

/* Estilo do botão de logout */
#logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #d32f2f;
    /* Cor do botão ao passar o mouse */
}

/* Exibir o dropdown ao passar o mouse no avatar */
.user-avatar:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    display: block;
}

/* Estilo ao passar o mouse no dropdown */
.dropdown-content button:hover {
    background-color: #d32f2f;
    /* Cor do botão ao passar o mouse */
}


/* area icones do modal  */
.social-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 5%;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-size: 24px;
}

.facebook {
    background-color: #3b5998;
    /* Cor do Facebook */
}

.instagram {
    background-color: #C13584;
    /* Cor do Instagram */
}

.whatsapp {
    background-color: #25D366;
    /* Cor do WhatsApp */
}

.social-button:hover {
    opacity: 0.8;
    /* Efeito de hover */
}

hr {
    margin: 1rem 0;
    color: black;
    border: 1;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

/* modal de não logado  */
.modal {
    position: fixed;
    z-index: 1000;
    /* Para garantir que o modal esteja sobre outros conteúdos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fundo escuro com opacidade */
}

/* Conteúdo do Modal */
.modal-content {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 0;
}

/* Estilo da imagem */
.modal-image {
    width: 100%;
    /* A imagem ocupará 100% da largura do modal */
    max-width: 300px;
    /* Largura máxima para a imagem */
    border-radius: 5px;
    /* Bordas arredondadas para a imagem */
    margin-bottom: 15px;
    /* Espaço abaixo da imagem */
}

/* Estilo do título */
.modal-content h2 {
    font-family: 'Arial', sans-serif;
    /* Fonte moderna */
    color: #c0392b;
    /* Cor vermelha */
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilo da descrição */
.modal-content p {
    font-family: 'Arial', sans-serif;
    /* Fonte moderna */
    color: #333;
    /* Cor do texto */
    margin-bottom: 20px;
    /* Espaço abaixo do parágrafo */
}

/* Botão de fechar */
.close {
    color: #888;
    /* Cor do 'X' */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c0392b;
    /* Cor ao passar o mouse */
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do botão no modal */
.modal-button {
    background-color: #c0392b;
    /* Cor vermelha */
    color: white;
    /* Cor do texto */
    border: none;
    border-radius: 5px;
    /* Bordas arredondadas */
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Mão ao passar o mouse */
    display: block;
    /* Para centralizar */
    margin: 20px auto;
    /* Margem automática para centralização */
}

.modal-button:hover {
    background-color: #e74c3c;
    /* Cor ao passar o mouse */
}

/* Classe para desativar a rolagem */
.no-scroll {
    overflow: hidden;
    /* Impede a rolagem da página */
}

.menu-paginas {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os itens no contêiner */
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    /* Define uma largura fixa */
    margin: 0 auto;
    /* Centraliza o contêiner na página */
    margin-bottom: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    /* Cada item ocupa toda a largura do contêiner */
    margin-bottom: 11px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    background-color: #222;
    /* Cor de fundo para o item */
}

.menu-item ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #ffc107;
    display: inline-block;
    /* Mantém o ícone alinhado com o texto */
}

.menu-item div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o texto à esquerda, junto ao ícone */
}

.menu-item span {
    font-size: 14px;
    font-weight: bold;
}

.menu-item small {
    font-size: 10px;
    color: #ccc;
}

.menu-item:hover {
    background-color: #333;
}


/* header Responsivo */
.funcionario {
    padding: 19%;
}

.headerResp {
    display: none;

}

@media screen and (max-width: 920px) {

    .corpo-agendamento {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .agendamento {
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .agendamento li {
        color: #000000;
        display: inline-block;
        text-align: center;
        width: 350px;
        vertical-align: top;
        margin: 0 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 10px;
        margin-top: 10%;
    }

    footer {
        height: 100%;
        margin-top: auto;
        background-color: black;
    }

    .conteiner-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        height: 100%;
        margin-top: 20px;
    }

    /* header resposivo */
    .headerResp {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #mostrarModal {
        background-color: white;
        color: white;
    }

    .ph-list-plus {
        color: aliceblue;
    }

    .nomePrincipal {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 4em;
    }

    .modalResp {
        margin-left: auto;
        font-size: 2em;
    }

    .modalgeral {
        display: block;
        /* Exibe o modal */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        /* Fundo preto opaco para ocultar o que está atrás */
        color: #fff;
        /* Texto branco */
        padding: 40px;
        z-index: 2000;
        /* Z-index alto para garantir que o modal fique sobre outros elementos */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        /* Sombra suave */
        overflow-y: auto;
        /* Permite rolar se o conteúdo for maior que a tela */
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* Transições suaves */
        opacity: 0;
        transform: translateY(-100%);
    }

    /* Classe para abrir o modal com efeito de animação */
    .aberto {
        opacity: 1;
        /* Modal visível */
        transform: translateY(0);
        /* Modal aparece */
    }

    /* Conteúdo do modal */
    .sabiduria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
    }

    /* Links de navegação */
    .sabiduria a {
        color: #fff;
        text-decoration: none;
        padding: 15px;
        width: 100%;
        text-align: center;
        border: 2px solid transparent;
        border-radius: 8px;
        transition: all 0.3s ease;
        background-color: #333;
        /* Fundo escuro para os links */
    }

    /* Efeito de hover nos links */
    .sabiduria a:hover {
        color: #000;
        background-color: #fff;
        border-color: #000;
    }

    /* Estilos para o botão de fechar */
    .modalfechar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    /* Botão de fechar */
    .tan {
        width: 150px;
        height: 50px;
        font-size: 1.2em;
        background-color: transparent;
        /* Cor chamativa para o botão */
        color: #fff;
        /* Texto branco */
        border: 5px solid #fff;
        border-radius: 25px;
        /* Bordas arredondadas para o botão */
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        /* Mostrar que é um botão clicável */
    }

    /* Efeito de hover no botão de fechar */
    .tan:hover {
        background-color: #040202;
        transform: scale(1.05);
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 1em;
        background-color: rgb(255, 255, 255);
        border: 0;
    }

    .paginasResponsi {
        color: #ccc;
        padding-bottom: 15%;
    }

    .conteiner-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .item2{
        display: none;
    }

    .rating {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

}