* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

/* Footer */

footer {
    height: 50vh;
    margin-top: auto;
    background-color: black;
}

.conteiner-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    height: 100%;
}

h2,
p {
    color: white;
    padding: 10px;
}


/* icons */

.page {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 150px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

.box .btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.box .btn:hover {
    width: 200px;
}

.box .btn .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: black;
    transition: all 0.3s ease-out;
}

.instagran:hover .icon {
    background: #e1306c;
}

.facebook:hover .icon {
    background: #4267b2;
}

.WhatsApp:hover .icon {
    background: #46dd8a;
}

.box .btn .icon i {
    font-size: 20px;
    line-height: 60px;
    transition: all 0.3 ease-out;
}

.box .btn:hover .icon i {
    color: fff;

}

.box .btn span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.5 ease-out;
}

.instagran:hover span {
    color: #e1306c;
}

.facebook:hover span {
    color: #4267b2;
}

.WhatsApp:hover span {
    color: #46dd8a;
}

/* Area comentarios */


:root {
    --amarelo: #ffcc00;
    --cinza: #ccc;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.opcao.fa:before {
    content: '\f005';
    color: var(--amarelo);
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: var(--cinza);
}

.conteiner img {
    border-radius: 15px;
}

.conteiner .item {
    padding-bottom: 35px;
}

.conteiner button {
    display: none;
    background-color: white;
    padding: 10px 15px;
}

.botao-login button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.conteiner {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.conteiner i {
    color: black;
    font-size: 20px;
    padding-right: 14px;
}

/* Problema centralizar deve estar em outro lugar*/
#comentarios {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#avaliacaoTotal {
    display: flex;
    flex-direction: column;
    height: 25%;
}

textarea {
    padding: 1px;
    background-color: rgb(159, 148, 148);
    width: 100%;
    font-size: 15px;
    outline: none;
    border-radius: 1px solid white;
    color: black;
}

textarea::placeholder {
    color: white;
}

#btn-enviar {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    background-color: blue;
}

/* header */

.conteiner-header img {
    border-radius: 15px;
}

header {
    background-color: black;
    height: 20vh;
}

.conteiner-header .item {
    padding-bottom: 35px;
}

.conteiner-header button {
    display: none;
    background-color: white;
    padding: 10px 15px;
}


.conteiner-header {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    height: 100%;
}

.menu-mobile {
    display: none;
}

.conteiner-header i {
    color: black;
    font-size: 20px;
    padding-right: 14px;
}

.button-login {
    background-color: black;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    padding: 5px;
}

/*Efeito do link*/

nav {
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-family: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-family: 35px;
    font-size: 20px;
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;
}

nav a:hover::after {
    width: 70%;
}

/* Corpo Home */

.corpo-home {
    height: 100;
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
}


.primeira-section {
    display: flex;
    height: 60vh;
    width: 50%;
    flex-direction: column;
}

.FundoImg {
    background-image: url(../img/normal.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.segunda-section {
    height: 100vh;
    flex-direction: column;
}

.terceira-section {
    height: 100vh;
    flex-direction: column;
}


.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.primeira-section h1,
.primeira-section p {
    text-align: left;
}
#Entrada{
    font-size: 10vh;
}

#Entrada2{
    font-size: 10vh;
    color: #000000;
}

#text1{
    font-size: 3vh;
    margin-left: 7%;
    width: 100%;
}

#text2{
    font-size: 30px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    color: #000000;
}

#text3{
    font-size: 30px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    color: #000000;
}

/* header Responsivo */
.funcionario{
    padding: 19%;
}

.headerResp{
   display: none;
}









@media screen and (max-width: 920px) {
    /* campos obrigatorios */

    /* cabecalho */
    .menu,
    .button-login {
        display: none;
    }

    .menu-mobile {
        display: inline-block;
        background-color: black;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
    }

    .menu-mobile nav ul {
        text-align: right;
    }

    .menu-mobile nav ul li a {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        padding: 30px 6%;
        display: block;
    }

    .menu-mobile nav ul li a:hover {
        background-color: #fff;
        color: black;
    }

    .menu-mobile .btn-fechar i {
        color: #ffffff;
        font-size: 50px;
    }

    .menu-mobile .btn-fechar {
        padding: 20px 5%;
    }

    footer {
        height: 100%;
        margin-top: auto;
        background-color: black;
    }

    .conteiner-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;
        height: 100%;
        margin-top: 20px;
    }

    .conteiner-header img {
        border-radius: 15px;
        width: 80px;
        height: 80px;
    }

    header {
        height: 15vh;
    }

    .overlay-menu {
        background-color: rgba(0, 0, 0, 0.774);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }

     /* header resposivo */
.headerResp{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#mostrarModal{
    background-color: #000000;
}

.ph-list-plus{
    color: aliceblue;
}

.nomePrincipal {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 4em;
  }
  
  .modalResp{
    margin-left: auto;
    padding-right: 30px;
    font-size: 2em;
  }
  
  .modalgeral {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    position: fixed;
    right: 0%;
    top: 0%;
    background-color: #000000;
    transition: 500ms;
    transform: translateX(100%);
  }
  
  .aberto {
    transform: translateX(0%);
  }
  
  .fechado {
    transform: translateX(100%);
  }
  
  .sabiduria a {
    display: flex;
    gap: 1rem;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .sabiduria {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50%;
  }
  
  .modalfechar {
    margin: auto;
    width: 200px;
    height: 50px;
  }
  
  .tan {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 1em;
  }
  
  button {
    width: 50px;
    height: 50px;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border: 0;
  }

  .paginasResponsi{
    color: #ccc;
    padding-bottom: 15%;

  }

  .conteiner-header{
    display: none;
  }
    

}
.imagem-sombreada {
    width: 500px; 
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
  }

