* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: black solid 3px;
}

