* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 105, 105);
}

/* Corpo Agendamento */

.corpo-agendamento{
    height: 100vh;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agendamento{
    width: 960px;
    margin: 0 auto;
    padding: 30px;
}

.agendamento li{
    color: #000000;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px; 
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.agendamento li:hover{
    border-color: #990011;
}

.agendamento li:active{ 
    border-color: #339900;
}

h2{
    font-weight: bold;
    font-size: 25px;
}

.agendamento li > img{
    width: 10em;
}

.agendamento li:hover h2{
    font-size: 35px;
}

.agendamento-descricao{
    font-size: 20px;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
}

/* Corpo Home */

.corpo-home{
    height: 100vh;
    
}

